gradio==5.34.2
langchain==0.3.26
langchain-core==0.3.69
langchain-community==0.3.27
langchain-groq==0.3.6
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
sentence-transformers==5.0.0
faiss-cpu==1.11.0.post1
transformers==4.53.2
torch>=2.2.0
pandas==2.3.0
numpy==2.2.6
huggingface-hub>=0.33.0
